.new-refrence-tr{
    cursor: pointer;
    transition: background-color 325ms,opacity 325ms,transform .4s;
    -moz-transition: background-color 325ms,opacity 325ms,transform .4s;
    -o-transition: background-color 325ms,opacity 325ms,transform .4s;
    -webkit-transition: background-color 325ms,opacity 325ms,transform .4s;
}
.new-refrence-tr:hover{
    background-color: rgba(0,0,0,.2);
}