/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
		
	.reveal-modal-bg {
		position: fixed;
		height: 100%;
		width: 100%;
		background: #fff;
		z-index: 9999;
		display: none;
		top: 0;
		left: 0;
		}
	
	.reveal-modal {
		visibility: hidden;
		top: 0 !important;
		background: #fff;
		position: fixed !important;
		z-index: 999999;
		color: #000;
		left: 0;
		right: 0;
		margin: 0 auto;
		box-sizing: border-box;
		overflow-y: scroll;
		height: 100%;
		}
		
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	.reveal-modal .close-reveal-modal {
		    position: absolute;
		    cursor: pointer;
		    right: 15px;
		    top: 0;
		    line-height: 1;
		    color: #000;
		    font-family: 'Montserrat-Light';
		} 
