.brdr.row {
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    /* color: #55; */
    margin: 0 0 20px 0;
    padding: 5px 0;
    color: #444;
	line-height: 2.5em;
	display: flex;
}
.breadcr {
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-size: .8em;
}
a {
    text-decoration: none;
    color: #666;
}
.blog-nav-right{
	text-align: right;
}
.blog-nav-mid{
	text-align: center;
}
@media (min-width: 768px){
.col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
}