.dark-theme {
	background-color: #000;
	color: #fff;
}

.container {
	padding-right: 15px!important;
	padding-left: 15px!important;
}

.justify-content-center {
	justify-content: center!important;
}

.align-items-center {
	align-items: center!important;
}

.col-lg-9 {
	padding-right: 15px;
	padding-left: 15px;
}

.ml-auto {
	margin-left: auto!important;
}

.text-center {
	text-align: center!important;
}

@media (min-width: 992px) {
	.col-lg-9 {
		max-width: 75%;
	}

	.col-lg-6 {
		max-width: 50%;
	}
}

@media (min-width: 1200px) {
	.col-xl-9 {
		max-width: 75%;
	}

	.col-xl-6 {
		max-width: 50%;
	}
}

.section__header {
	margin: 0 0 44px;
}

.section__title {
	font-weight: 600;
	font-size: 44px;
	line-height: 1.2;
	text-transform: uppercase;
}

.bg-cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

@media (max-width: 991px) {
	.section__title {
		font-size: 32px;
	}
}

.s-portfolio-hero {
	position: relative;
	padding: 180px 0 40px;
}

.s-portfolio-hero::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000;
	opacity: 0.4;
	z-index: 0;
}

.s-portfolio-hero > div {
	position: relative;
	z-index: 21;
}

.portfolio-hero__suptitle {
	margin-bottom: 12px;
	font-size: 48px;
	font-weight: 100;
	text-align: center;
}

.portfolio-hero__title {
	padding-left: 160px;
	font-size: 48px;
	font-weight: 700;
	text-align: center;
}

.portfolio-hero__content {
	margin-top: 180px;
	max-width: 420px;
	margin-left: auto;
	text-align: right;
	line-height: 1.4;
}

.portfolio-hero__logo {
	margin-bottom: 12px;
	text-align: center;
}

.portfolio-hero__logo img {
	max-width: 140px;
}

@media (max-width: 991px) {
	.s-portfolio-hero {
		padding-top: 80px;
	}

	.portfolio-hero__content {
		margin-top: 80px;
	}

	.portfolio-hero__title {
		padding: 0;
	}
}

.s-portfolio-descr {
	padding-top: 80px;
}

.portfolio-detail-descr {
	max-width: 600px;
	margin-left: auto;
	margin-top: 40px;
	font-size: 18px;
	opacity: 0.9;
	line-height: 1.4;
}

@media (min-width: 1200px) {
	.portfolio-detail-descr {
		margin-top: -40px;
	}
}

.portfolio-detail {
	background-color: #000;
	color: #fff;
}

.s-projects {
	background-color: #000;
	color: #fff;
}

.portfolio__group-step, .portfolio-detail p {
	color: #fff;
}

.dark-theme .projects-item * {
	color: #fff;
}


.s-how-work {
	padding: 80px 0;
	overflow: hidden;
}

.how-work {
	position: relative;
}

.how-work::before {
	content: '';
	position: absolute;
	top: 5%;
	left: 6%;
	width: 800px;
	height: 800px;
	transform: skewX(-40deg);
	border: 1px solid #fff;
	border-radius: 50%;
	z-index: 0;
}


.how-work::after {
	content: '';
	position: absolute;
	bottom: 10%;
	left: 6%;
	width: 800px;
	height: 800px;
	transform: skewX(-40deg);
	border: 1px solid #fff;
	border-radius: 50%;
	z-index: 0;
}

.how-work-item {
	position: relative;
	display: flex;
	align-items: center;
	gap: 80px;
	z-index: 21;
}

.how-work-item__thumb {
	display: flex;
	justify-content: center;
	align-items: center;
}

.how-work-item__thumb img {
	display: block;
	max-width: 100%;
}

.how-work-item__title {
	margin: 0 0 40px;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.1;
}

.how-work-item__title strong {
	font-size: 60px;
}

.how-work-item__description {
	font-size: 18px;
	line-height: 1.4;
}

@media (min-width: 992px) {
	.s-how-work .section__header {
		margin-bottom: 100px;
	}

	.how-work-item::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		width: 2px;
		margin-left: -1px;
		background-color: #fff;
	}

	.how-work-item:nth-child(odd) {
		flex-direction: row-reverse;
	}

	.how-work-item:nth-child(even) .how-work-item__content {
		padding-left: 30px;
	}

	.how-work-item__thumb, .how-work-item__content {
		width: calc(50% - 40px);
	}

	.how-work-item__thumb {
		padding: 0 32px;
	}
}

@media (max-width: 991px) {
	.how-work-item {
		flex-direction: column;
		gap: 32px;
		margin-bottom: 64px;
	}

	.how-work-item:last-child {
		margin-bottom: 0;
	}

	.how-work-item__title {
		margin: 0 0 21px;
		font-size: 26px;
	}

	.how-work-item__title strong {
		font-size: 36px;
	}

	.how-work-item__description {
		font-size: 16px;
	}
}

.s-advantages {
	padding: 80px 0 120px;
}

.advantage-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 24px;
	gap: 20px;
	font-size: 21px;
	text-transform: uppercase;
	font-weight: 300;
	border-bottom: 1px solid #fff;
}

.advantage-item:first-child {
	border-top: 1px solid #fff;
}

.advantage-item__icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 36px;
	height: 36px;
}

.advantage-item__icon svg {
	width: 36px;
	height: 36px;
}

@media (max-width: 991px) {
	.s-advantages {
		padding: 64px 0 80px;
	}

	.advantage-item {
		padding: 12px 16px;
		font-size: 18px;
	}
}

.s-experience {
	overflow: hidden;
}

.experience {
	position: relative;
	padding: 64px 44px;
	z-index: 21;
}

.experience::before {
	content: '';
	position: absolute;
	top: 0;
	left: -15px;
	bottom: 0;
	width: 100vw;
	background-color: #000;
	opacity: 0.7;
	z-index: -1;
}

.experience__title {
	margin: 0 0 20px;
	font-size: 32px;
	font-weight: 300;
}

.experience__list {
	margin: 0;
	padding: 0;
	counter-reset: list;
	list-style-type: none;
}

.experience__item {
	margin-bottom: 12px;
	line-height: 1.4;
}

.experience__item::before {
	counter-increment: list;
	content: "" counter(list) ".";
	margin-right: 8px;
	font-size: 26px;
}

.experience__item:last-child {
	margin-bottom: 0;
}

@media (max-width: 991px) {
	.experience {
		padding: 64px 0 80px;
	}
}

.s-inform {
	padding: 120px 0;
}

.inform-item {
	display: flex;
	margin-bottom: 80px;
	gap: 30px;
}

.inform-item:last-child {
	margin-bottom: 0;
}

.inform-item__thumb img {
	display: block;
	max-width: 100%;
}

.inform-item__title {
	margin: 0 0 12px;
	font-size: 36px;
	font-weight: 300;
	line-height: 1.1;
	text-transform: uppercase;
}

.inform-item__subtitle {
	margin: 0 0 12px;
	font-size: 24px;
	font-weight: 300;
	line-height: 1.1;
	text-transform: uppercase;
}

.inform-item__logo {
	display: flex;
	justify-content: flex-end;
}

.inform-item__logo img {
	max-width: 100px;
}

@media (min-width: 992px) {
	.inform-item:nth-child(odd) {
		flex-direction: row-reverse;
		text-align: right;
	}

	.inform-item__thumb, .inform-item__content {
		width: calc(50% - 15px);
	}

	.inform-item:only-child {
		flex-direction: row;
		text-align: left;
	}
}

@media (max-width: 991px) {
	.s-inform {
		padding: 80px 0;
	}

	.inform-item {
		flex-direction: column;
		margin-bottom: 64px;
	}

	.inform-item__title {
		font-size: 24px;
	}
}


.s-design-project {
	position: relative;
	padding: 80px 0 165px;
}

.s-design-project::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 60%;
	background-color: #fff;
	opacity: 0.5;
	z-index: 0;
}

.s-design-project > div {
	position: relative;
	z-index: 1;
}

.design-project__price {
	margin: 0 0 40px;
	font-size: 28px;
}

.design-project__description {
	font-size: 18px;
	font-weight: 400;
}

.design-project__actions {
	margin-top: 40px;
	text-align: center;
}

.design-project__actions .btn {
	padding: 16px 32px;
	font-size: 14px;
	display: inline-block;
}

@media (min-width: 992px) {
	.design-project {
		max-width: 50%;
	}
}

@media (max-width: 991px) {
	.s-design-project {
		padding: 64px 0 80px;
	}

	.s-design-project::before {
		width: 100%;
	}
}